// $bgColor: #123a08;
// $bgColorLightr: #24ff24;
$white: #fff;
$black: #000;
$green: #75d95d;
$greenLighter: #0f9;
// $primary: #0247FE;
$success: #35A255 !default;
$primary: #007CBB !default;
//
// Dark Mode
$bgColor: #232323;
$bgColorLightr: #333;
$textColor: #aaa;