<mat-toolbar class="navbar navbar-default" dir="rtl">
    <div class="container ">
        <div class="navbar-header">
            <a class="navbar-brand" routerLinkActive="active" routerLink="welcome">
                <img src="../../../assets/images/Final.png" alt="">
            </a>
        </div>
        <div class="d-flex align-content-center">
            <div class="d-flex align-content-center nav nav-right">
                <span *ngIf="user?.role == 'doctors'" routerLinkActive="active">
                    <a routerLink="/new-exam">
                        اختبار</a>
                </span>
                <span *ngIf="user?.role == 'doctors'" routerLinkActive="active">
                    <a routerLink="/students">
                        الطلاب</a>
                </span>

                <span *ngIf="user !== null" routerLinkActive="active">
                    <a routerLink="/subjects">المواد</a>
                </span>
                <span><a *ngIf="user !== null" class="username">{{user?.username}}</a></span>
                <span *ngIf="user !== null" routerLinkActive="active" (click)="logout()">
                    <a class="logout" routerLink="/login">خروج</a>
                </span>

                <span *ngIf="user == null" routerLinkActive="active">
                    <a routerLink="/login">دخول</a>
                </span>
                <span *ngIf="user == null" routerLinkActive="active">
                    <a routerLink="/register">تسجيل</a>
                </span>

            </div>
        </div>
    </div>
</mat-toolbar>