@import '../../styles/colors';
.footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    height: 65px;
    color: $white;
    background-color: $bgColorLightr;
    margin: 0;
}

a {
    text-decoration: none;
    color: $green;
}

.by {
    color: $primary;
    font-weight: bold;
}